@import url('https://fonts.googleapis.com/css2?family=Margarine:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

body {
  width: 400px;
  height: 400px;
  background-color: #fff;
  font-family: 'Margarine', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#title,
#time {
  font-weight: 700;
  color: #000;
  text-align: center;
  text-shadow: 1px 1px 2px #fff;
  animation: fadeIn 1s ease-in-out both;
}

#title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#time {
  font-size: 60px;
  margin-bottom: 20px;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#controls button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Margarine', sans-serif;
  font-weight: 400;
  box-shadow: #000 1px 1px 2px;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

#controls button:hover {
  background-color: #555;
  transform: scale(1.05);
}

#app {
  background-image: var(--background);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  filter: blur(1px);
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
